{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

    <div class="col-md-10 col-md-offset-1">
        <form method="POST" action="{{ url_for('edit', id=post.id) }}" accept-charset="UTF-8" onsubmit="return validateForm()">
            <div class="form-group row">
                <input id="post-title" class="form-control" name="title" type="text" value="{{ post.title }}"  placeholder="Title">
            </div>

            <div class="form-group row">
                <textarea id="post-content" class="form-control" name="body" cols="50" rows="10" placeholder="Content">{{ post.content }}</textarea>
            </div>

             <div class="input-group row">
                <input id="tag-name" type="textbox" name="tag"  class="form-control"/>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul id="tag-list" class="dropdown-menu">
                        {% for tag in tags %}
                            <li><a href="#">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class='input-group date row' style="padding-top: 2%" id='datetimepicker1'>
                <input name="published_at" type='text' value="{{ post.published_at }}" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div class="form-group" style="padding-top: 2%">
                <input id="post-submit" class="btn btn-primary form-control" type="submit" value="Update Post">
            </div>
        </form>
    </div>
<script>
$('#tag-list').find('li').on('click', function(){
    $('#tag-name').val($(this).text());
});

function validateForm() {
    var post_title = $('#post-title').val().trim();
    var post_body = $('#post-content').val().trim();
    var post_tag = $('#tag-name').val().trim();

    if(post_title  == null || post_body == null || post_tag == null || post_title== "" || post_body== "" || post_tag == "" ) { //OMG GUARD U'R SO STUPID
        swal({
            title:"Fields are empty!",
            text:"Fields can not be empty!",
            type:"error",
            showCancelButton: false,
            confirmButtonText: "Close",
            closeOnConfirm: true
        });
        //alert('error');
        return false;
    }
}

$(function () {
    $('#datetimepicker1').datetimepicker({
        format: 'YYYY-MM-DD HH:mm'
    });
});

</script>
{% endblock %}