<div class="container-fluid">
    <div class="header-bar">
        <h1><small><a href="{{ url_for('index') }}"
                      class="glyphicon glyphicon-home"
                      rel="tooltip" data-placement="auto" title="Homepage"></a> - </small>
            {{ title }}
            <small> - {{ label }} </small>
            <small> <a rel="tooltip"
                       data-placement="auto"
                       title="Refresh"
                       href="{{ request.url }}">&#8635;</a> </small>


            <div class="pull-right">
            {% if 'username' in session %}
                <a href="{{ url_for('create') }}" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-pencil"></span> Create post</a>
                <a href="{{ url_for('user') }}" class="btn btn-info" role="button"><span class="glyphicon glyphicon-book"></span> My posts</a>
                <button class="btn btn-danger logout"><span class="glyphicon glyphicon-log-out"></span> Logout</button>
            {% endif %}
            </div>
        </h1>
        <hr style="border:solid 1px #EEEEEE"/>
    </div>
</div>
