{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <style>
        .bottom7 {
            margin-bottom:7%
        }
    </style>

    <div class="col-md-5 col-md-offset-3">
    {% if 'username' not in session %}
        <h2 style="color: #777777"><span class="text-danger">Delete</span> and <span class="text-primary">edit</span> your posts:</h2>

            <div class="row bottom7">
                <form method="POST" action="{{ url_for('login') }}" accept-charset="UTF-8">
                    <div class="form-group ">

                        <input class="form-control" name="username" type="text" placeholder="username">
                        <br>
                        <input class="form-control" name="password" type="password" placeholder="password">

                        <div style="padding-top: 6%">
                            <input class="btn btn-default btn-primary form-control" type="submit" value="Login">

                        </div>

                    </div>
                </form>
            </div>
        {% endif %}
            <div class="row">
                <h2  style="color: #777777">List published posts by <span class="text-primary">tag</span>:</h2>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Tags
                    <span class="caret"></span> </button>
                    <ul class="dropdown-menu">
                        {% for tag in tags %}
                            <li><a href="{{ url_for('tag', name=tag.name) }}">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

    </div>
{% endblock %}