{% extends "base.html" %}
{% block title %} {{ title }}{% endblock %}
{% block content %}
        <h1>Login</h1>
    <hr>

    <form method="POST" action="{{ url_for('login') }}" accept-charset="UTF-8">
        <div class="form-group col-md-4 col-md-offset-3">
            <label for="username">Username:</label>
            <input class="form-control" name="username" type="text">
            <label for="password">Password:</label>
            <input class="form-control" name="password" type="password">

        <div style="padding-top: 6%">
            <input class="btn btn-default btn-primary form-control" type="submit" value="Login">

        </div>
        </div>

        <div class="form-group col-lg-4 col-md-offset-3">
            {#        <div class="col-sm-10 controls"> #}

            {#        </div> #}
        </div>

    </form>

{% endblock %}