{% extends "base.html" %}
{% block title %}{{ title }} - {{ tag }} {% endblock %}

{% block content %}

        {% for post in posts %}
    <div class="col-md-20 col-md-offset-1">
            <h2>
                <a href="#" data-toggle="modal" rel="tooltip" data-target="#ModalPost{{ post.id }}"
                   data-placement="auto" title="Düzenle"> {{ post.title }}</a>
            <small><small> - {{ post.tag.name }}</small></small>
            </h2>

            <h5><small>{{ post.published_at.strftime('%d %B %Y  %H:%M') }}</small></h5>

            <article>

                {{ post.content }}

            </article>

            <!-- Modal -->
            <div class="modal fade" id="ModalPost{{ post.id }}" role="dialog">
                <div class="modal-dialog ">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">{{ post.title }}</h4>
                        <h5><small>{{ post.published_at.strftime('%d %B %Y %H:%M') }}</small></h5>
                    </div>
                    <div class="modal-body">
                      <p> {{ post.content }} </p>
                    </div>
                    <div class="modal-footer">

                        <div class="pull-left">

                            {#<button type="button" class="delete-post btn btn-danger" post-id="{{ post.id }}">Delete</button>#}
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                  </div>
                </div>
            </div>
    </div>
            <hr/>
        {% endfor %}

  {#  <script>
        $(document).ready(function(){
        $('[rel="tooltip"]').tooltip();
        });

        $('button.delete-post').click(function() {
            var postid = $(this).attr("post-id");
            deletePost(postid);
        });

        function deletePost(postid) {
            swal({
                title: "Are you sure?",
                text: "Are you sure that you want to delete this?",
                type: "warning",
                showCancelButton: true,
                showLoaderOnConfirm: true,
                closeOnConfirm: false,
                confirmButtonText: "Yes, delete it!",
                confirmButtonColor: "#ec6c62"
            }, function() {
                $.ajax({
                    url: "/delete/"+ postid,
                    type: "DELETE"
                })
                        .done(function(data) {
                            setTimeout(function() {
                                swal({
                                title:"Post deleted!",
                                type: "success",
                                showCancelButton: false,
                                closeOnConfirm: true
                            }, function(){
                                window.location = "{{ url_for('user') }}";
                            });
                            }, 1000);

                        })
                        .error(function(data) {
                            swal("Oops", "We couldn't connec to the server!", "error");
                        });
            });
        }

    </script>#}

{% endblock %}

