{% extends "base.html" %}
{% block title %}{{ title }} - {{ user }} {% endblock %}

{% block content %}

        {% for post in posts %}
    <div class="col-md-20 col-md-offset-1">
            <h2>
                <a href="#" data-toggle="modal" rel="tooltip" data-target="#ModalPost{{ post.id }}"
                   data-placement="auto" title="Düzenle"> {{ post.title }}</a>
            <small><small> - {{ post.tag.name }}</small></small>
            </h2>

            <h5><small>{{ post.published_at.strftime('%d %B %Y %H:%M') }}</small></h5>

            <article>

                {{ post.content }}

            </article>

            <!-- Modal -->
            <div class="modal fade" id="ModalPost{{ post.id }}" role="dialog">
                <div class="modal-dialog ">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">{{ post.title }}</h4>
                        <h5><small>{{ post.published_at.strftime('%d %B %Y %H:%M') }}</small></h5>
                    </div>
                    <div class="modal-body">
                      <p> {{ post.content }} </p>
                    </div>
                    <div class="modal-footer">

                        <div class="pull-left">
{#                            <a href="{{ url_for('delete', id=post.id) }}" class="btn btn-danger">Delete</a>#}
                            <button type="button" class="delete-post btn btn-danger" post-id="{{ post.id }}">Delete</button>

                        </div>
                        <div class="pull-right">
                            <a href="{{ url_for('edit', id=post.id) }}" class="btn btn-primary">Edit</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                  </div>
                </div>
            </div>
    </div>
            <hr/>
        {% endfor %}
{% endblock %}



